{% load static %}

<div class="NavSpace container-fluid">
    <div class="row">
        <div class="col-sm-12">
        </div>
    </div>
</div>

<div class="HomeDashCover container-fluid" >
    <div class="row">
        <img id="BackgroundDashImg" src="{% static "Images/Dashboard_home_BACKGROUND.png" %}">
    </div>
</div>

<div class="DashCoverFooter container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <p id="DashHeader">Trends #FromHome</p>
        </div>
    </div>
    <div class="row">
        <div class="ScrollContainer col-sm-12">
            <img id="ScrollImg" src="{% static "Images/TRIAGULOSCROLL.png" %}">
        </div>
        <div class="ScrollContainer col-sm-12">
            <a href="/Dashboard/#TalksBlock" style="text-decoration: none"><p id="ScrollText">SCROLL</p></a>
        </div>
    </div>
</div>