{% extends 'base.html' %}
{% load static %}

{% block title %}
    Youtube Trendings - Home
{% endblock %}

{% block nav %}
    {% include "navDashboard.html" %}
{% endblock %}

{% block body1 %}
    {% include "DashboardHome.html" %}
{% endblock %}

{% block body2 %}
    {% include "DashSpeakers.html" %}
{% endblock %}

{% block body3 %}

{% endblock %}

{% block body4 %}
    {% include "workshop.html" %}
{% endblock %}

{% block body5 %}
    {% include "Goals.html" %}
{% endblock %}

{% block body6 %}
    {% include "qa.html" %}
{% endblock %}

{% block body7 %}
    {% include "trendsBlock.html" %}
{% endblock %}

{% block footer %}
{% endblock %}



