{% extends 'base.html' %}
{% load static %}

{% block title %}
    Youtube Trendings - Home
{% endblock %}

{% block nav %}
    {% include "navHome.html" %}
{% endblock %}

{% block body1 %}
    {% include "HomeBlock.html" %}
{% endblock %}

{% block body2 %}
    {% include "LoginBlock.html" %}
{% endblock %}

{% block body3 %}
    {% include "speakersBlock.html" %}

{% endblock %}

{% block body4 %}
    {% include "ManifestoBlock.html" %}
{% endblock %}


{% block body5 %}
    {% include "ContactBlock.html" %}
{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}

