{% load static %}

<div class="NavSpace container-fluid">
    <div class="row">
        <div class="col-sm-12">
        </div>
    </div>
</div>

<div class="HomeCover container-fluid" style="background: url({% static "Images/HomeCover.png"%}); background-repeat: no-repeat;background-size:cover;background-position: right top; ">
    <div class="row">
        <div class="col-sm-12">
            <p id="HomeHeader">Trends #FromHome</p>
        </div>
    </div>
</div>

<div class="HomeCoverFooter container-fluid">
    <div class="row">
        <div class="ScrollContainer col-sm-12">
            <img id="ScrollImg" src="{% static "Images/TRIAGULOSCROLL.png"%}">
        </div>
        <div class="ScrollContainer col-sm-12">
            <a href="#LoginBlock" style="text-decoration: none"><p id="ScrollText">SCROLL</p></a>
        </div>
    </div>
</div>

<script>

</script>