<meta charset="ISO-8859-1">
<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
    p { font-family: Roboto, Arial, sans-serif; color: #000000; font-size: 13px; inline-size: 0;line-height: .7;}
</style>

<table width="800px" border="0" cellspacing="0" cellpadding="20" background="https://storage.googleapis.com/trendsformhome/Mails/Password.jpg">

<tr>

<td>

<p></p>

</td>

</tr>

    <tr>

<td>

<p></p>

</td>

</tr>

    <tr>

<td>

<p></p>

</td>

</tr>

    <tr>

<td>

<p></p>

</td>

</tr>

    <tr>

<td>

<p></p>

</td>

</tr>

    <tr>

<td>

<p></p>

</td>

</tr>

    <tr>

<td>

<p></p>

</td>

</tr>

    <tr>

<td>

<p></p>

</td>

</tr>

    <tr>

<td>

<p></p>

</td>

</tr>
    <tr>

<td>

<p></p>

</td>

</tr>


    <tr>


<td width="368px">

<p></p>

</td>
<td>
<p><br><br><br><br><br><br><b></br>Nombre de usuario: {{ User }}</b></p><p><b>Password: {{ Pass }}</b></p>

</td>

</tr>
    <tr>

<td>

<p></p>

</td>

</tr>
    <tr>

<td>

<p></p>

</td>

</tr>
    <tr>

<td>

<p></p>

</td>

</tr>
    <tr>

<td>

<p></p>

</td>

</tr>
    <tr>

<td>

<p></p>

</td>

</tr>
    <tr>

<td>

<p></p>

</td>

</tr>
    <tr>

<td>

<p></p>

</td>

</tr>







</table>



