{% load static %}

<div class="ManifBackgroundLil container-fluid" id="ManifestoBlock">
    <div class="LoginContainer row">
        <div id="ImageManifesto" class="col-sm-5" style="background: url({% static "Images/ManifImg.png"%}); background-repeat: no-repeat;background-size:cover;background-position: left; ">
            <img id ="DecoratorManifLil" src="{% static "Images/ManifDecoLil.png"%}">
            <img id ="DecoratorManifAma" src="{% static "Images/ManifDecoAma.png"%}">
        </div>
        <div  class="col-sm-1">

        </div>

        <div  id="ManifestoText"class=" col-sm-5">
            <p id="ManifText1">YouTube Trends #FromHome es</br> una experiencia cercana y</br> profunda de entendimiento de</br> las tendencias que actualmente</br> están revolucionando la</br> creación de contenidos en</br> video.</p>

            <p id="ManifText2">Queremos que las conozcas como nadie. Queremos que puedas usarlas y adaptarlas a</br> tus marcas de formas creativas y únicas, todo desde tu casa.
                </br></br></br>Aquí YouTube es un aliado. Tu aliado.</p>

        </div>
    </div>
</div>

<div class="ManifBackWhite container-fluid">
    <div class=" row">

    </div>
</div>
