
{% load static %}

    <div class="LockQA container-fluid" id="LockQA" style="display: block">
        <img class="CandadoGoals" src="{% static "Images/CANDADO_ICON.png"%}">
        <p class="LockedText" >Para desbloquear esta sección,
<br>te invitamos a ver la primer charla
<br>en nuestra sección “Talks”.
</p>
    </div>
    <div class="QAOrangeBackground container-fluid" id="QABlock">
        <div class="LoginContainer row">
            <div id="ImageManifesto" class="col-sm-5" style="background: url({% static "Images/QA_img.png"%}); background-repeat: no-repeat;background-size:cover;background-position: center; ">
            </div>
            <div  class="col-sm-1">

            </div>

            <div  id="ManifestoText"class=" col-sm-5">
                <p id="QATextHeader">Preguntas <br>frecuentes</p>
            </div>
        </div>
    </div>

    <div class="QABackWhite container-fluid">
        <div class=" row">
            <div  class="col-sm-6">

            </div>
            <div  class="col-sm-5">
                <div id="QAContainer">
                    <div>
                        <img class="ArrowQA" id="ArrowDown1" src="{% static "Images/arrow_down.png"%}">
                        <img class="ArrowQA" id="ArrowUp1" src="{% static "Images/arrow_up.png"%}" style="display: none">
                        <div class="QA_pregunta" id="Pregunta1">
                            ¿Qué parámetros utilizamos para definir las tendencias?
                        </div>
                        <div style="height: 1vw;"></div>
                        <div class="QA_respuesta" id="Respuesta1">
                            Observamos el comportamiento y crecimiento de videos que comienzan a acelerar el número de vistas para destacarlos antes de que formen parte del mainstream popular. También revisamos número de vistas por video, número de vídeos relacionados, porcentaje de vista individual y nivel de conversación generado.
                        </div>
                        <hr>
                    </div>
                    <div>
                        <img class="ArrowQA" id="ArrowDown2" src="{% static "Images/arrow_down.png"%}">
                        <img class="ArrowQA" id="ArrowUp2" src="{% static "Images/arrow_up.png"%}" style="display: none">
                        <div class="QA_pregunta" id="Pregunta2">
                            ¿Cuánto tiempo de vida tienen las tendencias?
                        </div>
                        <div style="height: 1vw;"></div>
                        <div class="QA_respuesta" id="Respuesta2">
                            Cada tendencia tiene un comportamiento particular. Hemos identificado algunas que son particulares a un momento, otras podrán durar algunos meses y otras se mantienen vigentes evolucionando a través del tiempo. Si tienes alguna duda específica, puedes contactar al equipo de YouTube para revisarlo a detalle.
                        </div>
                        <hr>
                    </div>
                    <div>
                        <img class="ArrowQA" id="ArrowDown3" src="{% static "Images/arrow_down.png"%}">
                        <img class="ArrowQA" id="ArrowUp3" src="{% static "Images/arrow_up.png"%}" style="display: none">
                        <div class="QA_pregunta" id="Pregunta3">
                            ¿Qué tan frecuentemente actualizan las tendencias?
                        </div>
                        <div style="height: 1vw;"></div>
                        <div class="QA_respuesta" id="Respuesta3">
                            La identificación de tendencias es un esfuerzo continuo, por lo cual actualizaremos la información cada vez que identifiquemos cambios drásticos en el consumo de video. Adicionalmente, hacemos una revisión completa de tendencias cada semestre.
                        </div>
                        <hr>
                    </div>
                    <div>
                        <img class="ArrowQA" id="ArrowDown4" src="{% static "Images/arrow_down.png"%}">
                        <img class="ArrowQA" id="ArrowUp4" src="{% static "Images/arrow_up.png"%}" style="display: none">
                        <div class="QA_pregunta" id="Pregunta4">
                            ¿Las tendencias presentadas son aplicables exclusivamente para las industrias que buscan construir marca? ¿O también las industrias orientadas a resultados pueden beneficiarse?
                        </div>
                        <div style="height: 1vw;"></div>
                        <div class="QA_respuesta" id="Respuesta4">
                            Las tendencias presentadas toman como base al individuo latinoamericano, sus intereses y pasiones más allá de su desarrollo profesional. Es por eso que industrias de todo tipo pueden bajar sus mensajes de comunicación buscando vincular sus soluciones con los temas afines a sus consumidores, mostrando una verdadera empatía con ellos.
                            En cada tendencia presentamos un esquema de accionabilidad y mejores prácticas creativas para la creación de mensajes de marca aplicables a cualquier industria.
                            Sobre todo las industrias de performance pueden beneficiarse al desarrollar mensajes emocionales que permitan cercanía con sus clientes. YouTube ha demostrado ser eficiente en todas las etapas; desde el alcance con mensajes de conocimiento de marca, hasta la parte transaccional y de venta. Todo depende de la forma en que esté construido el contenido.

                        </div>
                        <hr>
                    </div>
                    <div>
                        <img class="ArrowQA" id="ArrowDown5" src="{% static "Images/arrow_down.png"%}">
                        <img class="ArrowQA" id="ArrowUp5" src="{% static "Images/arrow_up.png"%}" style="display: none">
                        <div class="QA_pregunta" id="Pregunta5">
                            ¿Es posible anunciar campañas publicitarias en contenidos relacionados a las tendencias que están aquí presentadas?
                        </div>
                        <div style="height: 1vw;"></div>
                        <div class="QA_respuesta" id="Respuesta5">
                            YouTube ha agrupado inventarios de contenido para cada una de las tendencias presentadas que se pueden comercializar para anunciantes y agencias, permitiendo que corran anuncios publicitarios antes de los videos elegidos. Para ello hay que acercarse a un representante de Google.
                            Cada paquete de contenido contiene videos respectivos a cada temática y busca impactar a audiencias afines que se relacionan con ellos o que han hecho una búsqueda sobre ellas en un periodo de tiempo reciente.
                            El desarrollo de la pieza publicitaria debe ir completamente alineado al contenido del video sobre el que correrá, de manera tal que el usuario sienta vinculado el anuncio con lo que sigue y ambos aporten a su interés en el tema.

                        </div>
                        <hr>
                    </div>
                    <div>
                        <img class="ArrowQA" id="ArrowDown6" src="{% static "Images/arrow_down.png"%}">
                        <img class="ArrowQA" id="ArrowUp6" src="{% static "Images/arrow_up.png"%}" style="display: none">
                        <div class="QA_pregunta" id="Pregunta6">
                            ¿Estas tendencias son específicas para un país en particular?
                        </div>
                        <div style="height: 1vw;"></div>
                        <div class="QA_respuesta" id="Respuesta6">
                            Al compartir un mismo idioma en Hispanoamérica, las motivaciones de los usuarios para ver estas tendencias son muy similares y tienen referentes en cada mercado. Salvo que se indique lo contrario, las tendencias aquí mostradas tienen manifestaciones locales en cada país de Latinoamérica.
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
    document.getElementById("Pregunta1").onclick = function() {OpenQA1()};
    document.getElementById("Pregunta2").onclick = function() {OpenQA2()};
    document.getElementById("Pregunta3").onclick = function() {OpenQA3()};
    document.getElementById("Pregunta4").onclick = function() {OpenQA4()};
    document.getElementById("Pregunta5").onclick = function() {OpenQA5()};
    document.getElementById("Pregunta6").onclick = function() {OpenQA6()};

    document.getElementById("ArrowDown1").onclick = function() {OpenQA1()};
    document.getElementById("ArrowDown2").onclick = function() {OpenQA2()};
    document.getElementById("ArrowDown3").onclick = function() {OpenQA3()};
    document.getElementById("ArrowDown4").onclick = function() {OpenQA4()};
    document.getElementById("ArrowDown5").onclick = function() {OpenQA5()};
    document.getElementById("ArrowDown6").onclick = function() {OpenQA6()};

    document.getElementById("ArrowUp1").onclick = function() {CloseAll()};
    document.getElementById("ArrowUp2").onclick = function() {CloseAll()};
    document.getElementById("ArrowUp3").onclick = function() {CloseAll()};
    document.getElementById("ArrowUp4").onclick = function() {CloseAll()};
    document.getElementById("ArrowUp5").onclick = function() {CloseAll()};
    document.getElementById("ArrowUp6").onclick = function() {CloseAll()};

    function CloseAll() {
        document.getElementById("Respuesta1").style.display = "none";
        document.getElementById("Respuesta2").style.display = "none";
        document.getElementById("Respuesta3").style.display = "none";
        document.getElementById("Respuesta4").style.display = "none";
        document.getElementById("Respuesta5").style.display = "none";
        document.getElementById("Respuesta6").style.display = "none";
        MyHide("ArrowUp1");
        MyHide("ArrowUp2");
        MyHide("ArrowUp3");
        MyHide("ArrowUp4");
        MyHide("ArrowUp5");
        MyHide("ArrowUp6");
        MyShow("ArrowDown1");
        MyShow("ArrowDown2");
        MyShow("ArrowDown3");
        MyShow("ArrowDown4");
        MyShow("ArrowDown5");
        MyShow("ArrowDown6");

        uploadCallToAction();
    }


    function OpenQA1() {
        CloseAll();
        document.getElementById("Respuesta1").style.display = "block";
        document.getElementById("Respuesta2").style.display = "none";
        document.getElementById("Respuesta3").style.display = "none";
        document.getElementById("Respuesta4").style.display = "none";
        document.getElementById("Respuesta5").style.display = "none";
        document.getElementById("Respuesta6").style.display = "none";
        MyShow("ArrowUp1");
        MyHide("ArrowDown1")
    }

    function OpenQA2() {
        CloseAll();
        document.getElementById("Respuesta1").style.display = "none";
        document.getElementById("Respuesta2").style.display = "block";
        document.getElementById("Respuesta3").style.display = "none";
        document.getElementById("Respuesta4").style.display = "none";
        document.getElementById("Respuesta5").style.display = "none";
        document.getElementById("Respuesta6").style.display = "none";
        MyShow("ArrowUp2");
        MyHide("ArrowDown2")
    }

    function OpenQA3() {
        CloseAll();
        document.getElementById("Respuesta1").style.display = "none";
        document.getElementById("Respuesta2").style.display = "none";
        document.getElementById("Respuesta3").style.display = "block";
        document.getElementById("Respuesta4").style.display = "none";
        document.getElementById("Respuesta5").style.display = "none";
        document.getElementById("Respuesta6").style.display = "none";
        MyShow("ArrowUp3");
        MyHide("ArrowDown3")
    }

    function OpenQA4() {
        CloseAll();
        document.getElementById("Respuesta1").style.display = "none";
        document.getElementById("Respuesta2").style.display = "none";
        document.getElementById("Respuesta3").style.display = "none";
        document.getElementById("Respuesta4").style.display = "block";
        document.getElementById("Respuesta5").style.display = "none";
        document.getElementById("Respuesta6").style.display = "none";
        MyShow("ArrowUp4");
        MyHide("ArrowDown4")
    }

    function OpenQA5() {
        CloseAll();
        document.getElementById("Respuesta1").style.display = "none";
        document.getElementById("Respuesta2").style.display = "none";
        document.getElementById("Respuesta3").style.display = "none";
        document.getElementById("Respuesta4").style.display = "none";
        document.getElementById("Respuesta5").style.display = "block";
        document.getElementById("Respuesta6").style.display = "none";
        MyShow("ArrowUp5");
        MyHide("ArrowDown5")
    }

    function OpenQA6() {
        CloseAll();
        document.getElementById("Respuesta1").style.display = "none";
        document.getElementById("Respuesta2").style.display = "none";
        document.getElementById("Respuesta3").style.display = "none";
        document.getElementById("Respuesta4").style.display = "none";
        document.getElementById("Respuesta5").style.display = "none";
        document.getElementById("Respuesta6").style.display = "block";
        MyShow("ArrowUp6");
        MyHide("ArrowDown6")
    }

</script>


<script>
    function verifyState(unlocked) {
        if(unlocked >= 1){
            document.getElementById("LockQA").style.display = "none";
        }
    }
    verifyState({{ platformUser.unlockedTalks }});

    function MyShow(id) {
        document.getElementById(id).style.display = "block";

    }

    function MyHide(id) {
        document.getElementById(id).style.display = "none";

    }
</script>