{% load static %}

<div class="SpeakersWhiteContainer1 container-fluid">
    <div class=" row">
        <div id="ContactImg" class="col-sm-12" >
                <img id ="DecoratorTalkers" src="{% static "Images/Deco_talkers.png"%}">
        </div>
    </div>

</div>

<div class="SpeakersBlueContainer container-fluid" id="OurBoardBlock">
    <div class=" row">
        <div class="col-sm-6">
            <div class=" row">
                <div class="col-sm-2">
                </div>
                <div class="SpeakerPanel  speakerBox col-sm-5">
                    <img class ="SpeakerPhoto" src="{% static "Images/Pablo_web.png"%}">
                </div>
                <div class="SpeakerPanel  speakerBox col-sm-4">
                    <p class="SpeakerHeader">Pablo Castellanos</p>
                    <p class="SpeakerTitle">Gerente de Marketing - Investigación de Mercados</p>
                    <p class="SpeakerDescription">Con más de 13 años de experiencia en investigación de mercados, Pablo es un apasionado tanto del consumo de video como del comportamiento humano que lo motiva, siempre buscando las razones detrás del éxito de los contenidos más relevantes en YouTube.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class=" row">
                <div class="col-sm-1">
                </div>
                <div class="SpeakerPanel  speakerBox col-sm-5">
                    <img class ="SpeakerPhoto" src="{% static "Images/Annette_web.png"%}">
                </div>
                <div class="SpeakerPanel  speakerBox col-sm-4">
                    <p class="SpeakerHeader">Annette Sanchez</p>
                    <p class="SpeakerTitle">Gerente de Marketing - YouTube México y SPLatam</p>
                    <p class="SpeakerDescription">Annette tiene más de 14 años especializada en Marketing Digital y hoy lidera la estrategia y narrativas B2B para YouTube en los países de SPLATAM. Antes de unirse a Google formó parte de algunas de las agencias de publicidad más grandes de México, fungiendo en la última como directora del área digital. Es una apasionada del video, la tecnología y todas las posibles combinaciones de ambas.</p>
                </div>
            </div>
        </div>
    </div>
    <div class=" row">
        <div class="col-sm-6">
            <div class=" row">
                <div class="col-sm-2">
                </div>
                <div class="SpeakerPanel  speakerBox col-sm-5">
                    <img class ="SpeakerPhoto" src="{% static "Images/Gustavo_web.png"%}">
                </div>
                <div class="SpeakerPanel  speakerBox col-sm-4">
                    <p class="SpeakerHeader">Gustavo Alvarado</p>
                    <p class="SpeakerTitle">Gerente de Marketing - Google Colombia, Centroamérica y el Caribe</p>
                    <p class="SpeakerDescription">Gustavo lidera los esfuerzos de marketing de Google en Colombia con el objetivo de traer los productos de Google para ayudar a los colombianos y ayudar a más empresas a crecer en línea.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class=" row">
                <div class="col-sm-1">
                </div>
                <div class="SpeakerPanel  speakerBox col-sm-5">
                    <img class ="SpeakerPhoto" src="{% static "Images/Karla_web.png"%}">
                </div>
                <div class="SpeakerPanel  speakerBox col-sm-4">
                    <p class="SpeakerHeader">Karla Agis</p>
                    <p class="SpeakerTitle">Gerente de Cultura y Tendencias para América hispanohablante</p>
                    <p class="SpeakerDescription">Por más de 10 años, Karla se ha dedicado al análisis y creación de contenido viral, a través de marcas como BuzzFeed y Condé Nast. Actualmente lidera la detección de tendencias culturales en YouTube para encontrar qué es lo que motiva a los usuarios y creadores, además del impacto que tiene la plataforma en la sociedad y en la cultura pop.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="SpeakersWhiteContainer container-fluid">

</div>